<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030636465106-cl2d37d05qk013ie5r553tun5il6qib9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030636465106-cl2d37d05qk013ie5r553tun5il6qib9</string>
	<key>API_KEY</key>
	<string>AIzaSyCPlLMPo12gb9eIy0tNhxV6RDslN15FyoY</string>
	<key>GCM_SENDER_ID</key>
	<string>1030636465106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-f32b1</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-f32b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030636465106:ios:29ac167508eeb88764b60b</string>
	<key>DATABASE_URL</key>
	<string>https://newsapp-f32b1.firebaseio.com</string>
</dict>
</plist>